#cke_content {
	margin-bottom: 1rem;
}

#cke_image_text {
  margin-bottom: 1rem;
}


button, .button {
	margin-bottom: 0rem;
}

.side-nav {
	padding-top: 0rem;
}

td p {
  font-size:0.8em;
}

#cke_comment {
  margin-bottom: 1rem;
}

/* Sign Up Form
/* Styles for signup panels */
.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 20px;
}

/* Footer */
.full-width {
  width: 100%;
}

.footer {
  text-align: left;
}

.footer h4 {
  color: gray;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: gray;
}

.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
  display: inline;
  padding-right: 10px;
}

.tabs dd.active a, .tabs .tab-title.active a {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

        
/*********** UPLOADER ***********/
.step2, .error {
    display: none;
}
.error {
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.info {
    font-size: 14px;
}